.home {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;

  .home-title {
    color: #404040;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .input-content {
    width: 80%;

    svg {
      height: 24px;
    }

    .input {
      height: 24px;
      background: #fff;
    }
  }
}

.home-restaurants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  // padding: 20px 60px;
  width: 100%;
  
}