.restaurant-container {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.restaurant-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  img {
    height: 200px;
  }

  @media (max-width:1025px) {
    flex-direction: column;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }
  
  @media (max-width:768px) {
    flex-direction: column;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  @media (max-width: 425px) {
    img {
      width: 100%;
    }
  }
}

.restaurant-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.25rem;

  .restaurant-title {
    font-size: 2rem;
    margin-bottom: 2px;
    font-weight: 600;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 12px;
  }

  span {
    font-size: 1rem;
    margin-bottom: 2px;
  }

  time {
    font-weight: bold;
  }

  @media (max-width:1025px) {
    align-items: center;

    .restaurant-title {
      font-size: 1.5rem;
      margin-top: 15px;
      margin-bottom: 2px;
      font-weight: 600;
    }

    p {
      margin: 20px 0;
      font-size: 1rem;
      width: 80%;
    }

    span {
      font-size: 1rem;
    }
  }

  @media (max-width: 425px) {
    .restaurant-title {
      font-size: 1rem;
      margin-top: 15px;
      margin-bottom: 2px;
      font-weight: 600;
    }

    p {
      margin: 20px 0;
      font-size: 0.875rem;
      width: 80%;
    }

    span {
      font-size: 0.875rem;
    }

    
  }
}

.restaurant-food {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 100%;

  @media (max-width:1025px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.Modal {
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 484px;
  width: 601px;
  background: #fff;
  border-radius: 5px;
  max-width: 1120px;
  min-width: 550px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}
